.tagline{
  position: absolute;
  top: 214px;
  font-size: 29px;
  /* color: #3b93ff; */
  color: gray;
  font-weight: 600;
  right: 120px;
}


.upload{
    position: absolute;
    top: 124px;
    left: 92px;
    width: 366px;
    height: 261px;
    border: grey 5px solid;
    border-radius: 20px;
}

.uploadfile{
    position: relative;
    top: 2px;
    left: 70px;
    z-index: 50;
}

.uploadLogo{
    width: 265px;
    height: 190px;
    position: relative;
    left: 43px;
    top: 7px;
}

/* Gallery Display */
.gallery-container {
  position: relative;
  width: 92%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  left: 14px;
  top: 368px;
  }
  
  .gallery-card {
    width: 418px;
    height: 251px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    margin-left: 50px;
    margin-top: 50px;
  }
  
  .gallery-card:hover {
    transform: scale(1.05);
  }
  
  .gallery-image {
    width: 93%;
    height: 180px;
    object-fit: cover;
    position: relative;
    top: 11px;
    left: 15px;
}
  
  .no-images {
    text-align: center;
    font-size: 18px;
    color: #777;
    margin-top: 15px;
  }
  
  .refresh{
    position: absolute;
    top: 336px;
    left: 521px;
    padding: 3px;
    background: green;
    color: white;
    height: 47px;
    font-size: 24px;
    width: 139px;
    border: white;
    font-weight: 300;
    border-radius: 7px;
  }

  .deleteButton{
    position: relative;
    background-color: red;
    top: 25px;
    color: white;
    left: 20px;
    border: white 1px solid;
  }